@import "../../src/pages/variables.scss";
@import "../../src/pages/breakpoints.scss";

.card {
  background: $dark-blue !important;
  border-radius: 0;
  border: none;
  padding: 100px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @include bp-tablet-sm {
    padding: 50px;
  }
  p {
    margin-top: 30px;
  }
  button {
    font-size: 16px !important;
  }
}

.post {
  .card {
    padding: 40px;
    a {
      line-height: 1;
      color: $white;
      font-size: 46px;
      font-family: $heading;
      @include bp-tablet-sm {
        font-size: 22px;
      }
    }
  }
}
