@import "../../src/pages/breakpoints.scss";
@import "../../src/pages/variables.scss";

.inner-hero-cities {
  background: linear-gradient($main-dark-grey, transparent),
    linear-gradient(to top left, $glow-blue, transparent);
  background-blend-mode: screen;
  padding: 210px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 120px 0px 60px 0px;
  }
  hr {
    border-bottom: 3px solid $light-blue;
    width: 10%;
    margin-left: 0px;
  }
  h1 {
    font-size: 22px;
    color: rgba(#fff, 0.5) !important;
    letter-spacing: 0.5px;
  }
  h2 {
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  svg {
    margin-right: 10px;
  }
  ul {
    list-style: none;
    margin-left: -45px;
    li {
      font-size: 26px;
      @include bp-tablet-sm {
        font-size: inherit;
      }
    }
  }
  img {
    @include bp-tablet-sm {
      margin-top: 30px;
    }
  }
}

.inner-hero {
  background: linear-gradient($main-dark-grey, transparent),
    linear-gradient(to top left, $glow-blue, transparent);
  background-blend-mode: screen;
  padding: 210px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 120px 0px 60px 0px;
  }
  .row {
    align-items: center;
  }
  p {
    color: rgba($dark-grey, 0.7);
    margin: 0 auto;
    @include bp-tablet-sm {
      width: 100%;
    }
  }
  h1 {
    color: $dark-grey !important;
    font-size: 60px;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 20px;
    @include bp-tablet-sm {
      font-size: 34px;
    }
  }
  p {
    margin-bottom: 0px;
    margin-top: 20px;
    line-height: 1.6;
  }
  hr {
    border-bottom: 3px solid $light-blue;
    width: 10%;
    margin-left: 0px;
  }
  span {
    background: linear-gradient(
      to top,
      rgba($light-blue, 0.4) 40%,
      transparent 40%
    );
    padding: 0px 5px 0px 5px;
  }
  form {
    background: rgba($glow-blue, 0.8);
    padding: 20px;
  }
  h4 {
    &.consult {
      text-align: center;
      color: $dark-blue !important;
      margin-bottom: 0px;
      background: $dark-purple;
      padding: 20px;
      @include bp-tablet-sm {
        margin-top: 20px;
      }
    }
  }
  button {
    color: $dark-blue;
    border-bottom: 2px solid $purple;
  }
}
