@import "../pages/variables.scss";
@import "../pages/breakpoints.scss";

.shadow {
  box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(#fff, 0.2);
}

body {
  overflow-x: hidden;
  background: $main-dark-grey;
}

.container {
  max-width: 1280px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading;
  font-weight: 700;
  color: $dark-blue !important;
  letter-spacing: -0.065em;
  @include bp-tablet-sm {
    line-height: 1.6;
  }
}

a,
p,
ol,
ul {
  font-family: $body;
  font-size: 18px;
  line-height: 1.8;
  color: rgba($dark-blue, 0.5);
}

ol,
ul {
  margin-bottom: 30px;
}

a {
  color: $light-blue;
  transition: 0.2s;
  &:focus,
  &:hover {
    color: lighten($light-blue, 20%);
    text-decoration: none;
  }
  &.d-block {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
}

input,
textarea {
  font-family: $heading;
}

h1 {
  font-size: 60px;
  @include bp-tablet-sm {
    font-size: 30px;
  }
}

h2 {
  font-size: 54px;
  line-height: 1.4;
  @include bp-tablet-sm {
    font-size: 28px !important;
  }
}

h3 {
  font-size: 28px;
  @include bp-tablet-sm {
    font-size: 24px !important;
  }
}

form {
  label {
    color: $dark-grey;
    @include bp-tablet-sm {
      text-align: left;
      display: block;
    }
  }
  button {
    font-family: $body;
  }
}

.pd-top-120 {
  padding-top: 120px;
  @include bp-tablet-sm {
    padding-top: 40px;
  }
}

.pd-btm-120 {
  padding-bottom: 120px;
  @include bp-tablet-sm {
    padding-bottom: 20px;
  }
}

.pd-top-80 {
  padding-top: 80px;
  @include bp-tablet-sm {
    padding-top: 20px;
  }
}

.pd-top-40 {
  padding-top: 40px;
  @include bp-tablet-sm {
    padding-top: 20px;
  }
}

.pd-btm-80 {
  padding-bottom: 80px;
  @include bp-tablet-sm {
    padding-bottom: 20px;
  }
}

.pd-btm-60 {
  padding-bottom: 60px;
  @include bp-tablet-sm {
    padding-bottom: 20px;
  }
}

.pd-top-40 {
  padding-top: 40px;
  @include bp-tablet-sm {
    padding-top: 20px;
  }
}

.pd-btm-40 {
  padding-bottom: 40px;
  @include bp-tablet-sm {
    padding-bottom: 20px;
  }
}

.pd-btm-20 {
  padding-bottom: 20px;
  @include bp-tablet-sm {
    padding-bottom: 20px;
  }
}

.w-75 {
  width: 75%;
  display: block;
  margin: 0 auto;
  @include bp-tablet-sm {
    width: 100%;
  }
}

.w-80 {
  width: 80%;
  display: block;
  margin: 0 auto;
  @include bp-tablet-sm {
    width: 100%;
  }
}

.map-cta {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  p {
    margin-top: 20px;
    text-align: center;
  }
}

.niche-pages {
  .home-areas {
    padding-top: 0px;
  }
  .arborist-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/Ontario-Arborist-Tree-Removal-Services-Website-Design.jpg")
        center center;
  }
  .dental-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/dental-medical-clinic-website-design.jpg") center center;
  }
  .mx-auto {
    @include bp-tablet-sm {
      margin-bottom: 20px;
    }
  }
  .hero {
    background: linear-gradient($main-dark-grey, transparent),
      linear-gradient(to top left, $glow-blue, transparent);
    background-blend-mode: screen;
    padding: 210px 0px 120px 0px;
    @include bp-tablet-sm {
      padding: 120px 0px 60px 0px;
    }
    h1 {
      font-size: 70px;
      font-weight: 800;
      padding-top: 0px;
      @include bp-tablet-sm {
        font-size: 42px;
      }
    }
    h2 {
      &.intro {
        color: rgba(#fff, 0.5) !important;
        font-size: 24px;
      }
      &.sub {
        color: rgba(#fff, 0.5) !important;
        font-size: 28px;
        margin-bottom: 40px !important;
        @include bp-tablet-sm {
          margin-bottom: 20px !important;
        }
      }
    }
    h1,
    h2,
    h3,
    p {
      color: #fff !important;
    }
  }
  .niche-inner-hero {
    background-size: cover;
    padding: 300px 0px 160px 0px;
    @include bp-tablet-sm {
      padding: 160px 0px 80px 0px;
    }
    .stars {
      margin: 0 auto;
      display: block;
    }
    h1,
    h2,
    h3,
    p {
      color: #fff !important;
      font-weight: bold;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }
    h2 {
      padding: 30px 0px 30px 0px;
      font-size: 38px;
      color: rgba(#fff, 0.8);
    }
    h3 {
      color: rgba(#fff, 0.8);
    }
    p {
      margin-bottom: 0px;
      margin-top: 30px;
    }
  }
  .intro {
    @include bp-tablet-sm {
      img {
        margin-bottom: 20px;
      }
    }
  }
  h2 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
  }
  .card {
    h3 {
      margin-top: 20px;
      font-weight: bold;
    }
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .author {
      margin-top: 20px;
      font-weight: bold;
    }
    .desc {
      margin-top: 10px;
    }
  }
  .niche-cta {
    background: $alt-dark-grey;
    padding: 120px 0px 120px 0px;
    p,
    h2 {
      color: #fff !important;
    }
    h2 {
      font-size: 80px;
      @include bp-tablet-sm {
        font-size: inherit;
      }
    }
    button {
      background: $dark-purple;
      color: #fff;
      border: none;
    }
  }
}

.seo-page {
  h2,
  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .home-client-results {
    padding-bottom: 0px;
    h2,
    span {
      color: #fff !important;
    }
  }
  .seo-conversions {
    p {
      margin-top: 0px;
    }
    h2 {
      margin-bottom: 0px;
    }
  }
}

.modal-body {
  h5 {
    color: $white;
  }
  ul {
    margin-left: -20px;
  }
}

.modal-body,
.modal-footer {
  background: $dark-blue;
}

.city-benefits {
  padding-top: 120px;
  @include bp-tablet-sm {
    padding-top: 60px;
  }
  background: $dark-grey;
  h2,
  h3 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  h2,
  h3,
  p {
    color: $white;
  }
}

.slick-dots {
  bottom: -50px !important;
  @include bp-tablet-sm {
    bottom: -25px !important;
  }
}

.slick-prev {
  left: 2% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev,
.slick-next {
  transform: translate(0) !important;
}

.slick-prev:before,
.slick-next:before {
  color: $dark-purple !important;
  font-size: 40px !important;
  @include bp-tablet-sm {
    display: none;
  }
}

.slick-slider {
  button {
    &:hover {
      transform: none !important;
      border: none !important;
    }
    &:focus {
      border: none !important;
    }
  }
}

span {
  background: linear-gradient(0deg, rgba($light-blue, 0.15) 35%, transparent 0);
  padding: 0 0px;
  margin-right: 5px;
  font-weight: bold;
}

.home-client-results {
  background: linear-gradient(to right, #005c97, #363795);
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  button {
    margin-top: 0 !important;
    background: $purple !important;
    color: $dark-blue !important;
    &:hover {
      background: $light-blue !important;
      border-color: $light-blue !important;
    }
  }
  .testimonial {
    background: $yellow;
    color: $white;
    padding: 10px;
  }
  .card {
    padding: 30px;
    text-align: center;
    button {
      width: 100%;
    }
    p {
      margin-top: 0px;
      font-size: 15px;
    }
    .highlight {
      background: $dark-grey;
      margin-bottom: 20px;
      h3 {
        color: $grey;
        font-size: 50px;
        margin-bottom: 0px;
      }
      p {
        color: rgba($grey, 0.8);
      }
    }
    a {
      &:hover {
        border-bottom: none;
      }
    }
  }
  h2 {
    margin-bottom: 30px;
    color: $dark-blue !important;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.home-cta {
  p {
    color: rgba($dark-blue, 0.7) !important;
    padding: 0 !important;
  }
  button {
    margin-top: 0 !important;
  }
  span {
    background: linear-gradient(0deg, rgba($yellow, 0.15) 35%, transparent 0);
  }
}
.why-infused {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 16px;
    @include bp-tablet-sm {
      margin-top: 10px;
    }
  }
}

.home-gen-leads {
  background: $main-dark-grey;
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 20px 0px;
  }
  .stats {
    margin-top: -180px;
    @include bp-tablet-sm {
      margin-top: 0px;
    }
    .card {
      padding: 20px;
      background: rgba(#000, 0.2);
      h2 {
        margin-bottom: -40px;
      }
    }
    .dark {
      background: rgba($main-dark-grey, 0.5) !important;
      h2 {
        color: $dark-blue !important;
      }
      p {
        color: rgba($dark-blue, 0.7);
      }
    }
  }
  .card {
    padding: 100px;
  }
}

.just-work {
  .card {
    padding: 60px;
  }
  img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.home-top-web {
  background: $alt-dark-grey;
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 20px 0px;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 52px;
    line-height: 1.2;
    @include bp-tablet-sm {
      margin-bottom: 20px;
    }
  }
  .card {
    padding: 20px;
  }
  .trust {
    @include bp-tablet-sm {
      margin-bottom: 30px;
    }
  }
}

.home-reviews {
  padding: 80px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  h2 {
    margin-bottom: 40px;
  }
  h3 {
    font-size: 28px;
  }
  .card {
    padding: 30px;
    .author {
      font-weight: bold;
    }
  }
}

.accordion {
  border: none !important;
  button {
    width: 100%;
  }
  .accordion-body {
    margin-top: 20px;
  }
}

.accordion__panel,
.accordion__button {
  font-family: "Poppins", sans-serif;
}

small {
  color: #fff;
}

.home-blog {
  padding: 80px 0px 0px 0px;
  background: $alt-dark-grey;
  @include bp-tablet-sm {
    padding: 0px 0px 40px 0px;
  }
  h2 {
    font-size: inherit;
    text-align: center;
    margin-bottom: 30px;
    &.title {
      font-size: 44px;
    }
  }
  a {
    font-size: 26px;
    transition: 0s;
    line-height: 1.4;
  }
  .card {
    padding: 20px;
  }
}

.blog-overview {
  h2 {
    font-size: inherit;
  }
  a {
    font-size: 26px;
    transition: 0s;
    line-height: 1.4;
  }
  .card {
    padding: 20px;
  }
}

.blog {
  img {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
  }
}

.feat-articles {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  h2 {
    margin-bottom: 30px;
  }
  a {
    &:hover {
      border-bottom: 0;
    }
  }
  h3 {
    &:hover {
      color: $purple;
    }
  }
  .card {
    padding: 60px;
    width: 100%;
  }
}

iframe {
  @include bp-tablet-sm {
    width: 100%;
  }
}

.accordion__button {
  background-color: $light-blue !important;
  color: $dark-blue !important;
  transition: 0.2s;
  &:hover {
    background-color: $glow-blue !important;
  }
}

.accordion__panel {
  ul {
    font-size: 16px !important;
  }
}

.single-blog {
  h2,
  h3 {
    margin-top: 60px;
  }
}

.infused-benefits {
  padding: 120px 0px 120px 0px;
  background: $dark-grey;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  h2,
  h3 {
    color: $glow-blue;
  }
  p {
    color: rgba($glow-blue, 0.7);
  }
}

.infused-callout {
  padding: 40px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  h2 {
    margin-bottom: 30px;
    @include bp-tablet-sm {
      margin-bottom: 10px;
    }
  }
  img {
    @include bp-tablet-sm {
      margin-bottom: 20px;
    }
  }
}

.phone {
  color: $main-dark-grey;
  &:hover {
    color: $main-dark-grey;
    border-bottom: none !important;
    cursor: none;
  }
}

.author {
  font-weight: bold;
  margin-bottom: 10px !important;
}

.desc {
  margin-top: 10px !important;
}

.inner-cities {
  svg {
    margin-right: 5px;
  }
  button {
    line-height: 1.4;
    @include bp-tablet-sm {
      margin-top: 20px;
    }
  }
}

.intro-web-design {
  img {
    margin-top: 40px;
    @include bp-tablet-sm {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.home-cards {
  .card {
    padding: 30px !important;
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.home-process {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  .card {
    padding: 30px !important;
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h2 {
      margin-top: 20px;
    }
  }
}

.home-faq {
  padding: 120px 0px 120px 0px;
  background: $main-dark-grey;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  .card {
    padding: 30px;
    p {
      margin-top: 10px;
    }
  }
}

.home-niagara-info {
  padding: 120px 0px 120px 0px;

  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
}

.home-work {
  padding: 120px 0px 120px 0px;
  background: $alt-dark-grey;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
    img {
      margin-bottom: 20px;
    }
  }
}

.dark {
  background: $main-dark-grey;
}
.light {
  background: $alt-dark-grey;
}

.home-areas {
  span {
    color: #fff;
    margin-right: 0;
    font-weight: 100;
  }
  svg {
    color: #fff;
  }
}

.our-clients {
  @include bp-tablet-sm {
    padding-bottom: 40px;
  }
}

.check::before {
  content: "✔"; /* Green check mark */
  color: green;
  margin-right: 10px;
}

.xmark::before {
  content: "✘"; /* Grey X mark */
  color: grey;
  margin-right: 19px;
}
